<meta charset="utf-8">
	 <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>irorun</title>
    <link rel="icon"  href="logo.jpg">
    <link rel="stylesheet" type="text/css" href="loyiha.css">
</head>
<body>
	<!-- umumiy div -->
	<div class="block">
		<!-- head-->
		<div class="head row align">
			<!--logo -->
			<div class="logo">
				<img src="logo 1.jpg" alt="logo 1">
				
			</div>
			<!-- end logo-->
			<!-- naw-->
			
			<nav>
				<ul class="row">
					<li>
						<a href="#">biz haqimizda</a>
						  
					</li>
					<li>
						<a href="#">biz bilan bog'laning</a>
						  
					</li>
					<li>
						<a href="#">bosh menyu</a>
						  <!-- end naw-->
					</li> 
				</ul>
			</nav>
			
		</div>
		<!-- end head-->
		<!--selection -->
		<section>
			<div class="row align">
				<div class="left">
					<h1>
					bizning saytda
					
					
					<br>
					 benzin va gaz zapravkalarni
					<br>
						 topish mushkul emas
						
						
					 </h1> 
				<p>
					biznig mahsad sizning qiyinchiligingizni 
					<br>
					oson qilishdan iborat
				</p> 
				<!-- <div class="lagativ">
					<img src="google.jpg" alt="google.jpg">
					<img src="Apple.jpg" alt="Apple.jpg">
				</div> -->
				<div class="right ">
					
				</div>
				<div class="odam">
					<img src="https://avatars.mds.yandex.net/i?id=3e7ca0b8cdc7d9ab03f4a0cd7425e98c553af7d0-5127171-images-thumbs&n=13" alt="inson.jpg">
				</div >
				
			</div>
		</section> 
		<article>
			<div class="row align">
				<div class="left-img">
					<img src="https://avatars.mds.yandex.net/i?id=fd8aaee46831cfde5b2d5d19c7ada32c-5659239-images-thumbs&n=13" alt= "frame.jpg">
				</div>	
				<div class="right-text">
						<h1>
					qimmatbaho vaqtingizni tejang					
					<br>
					 va bizning safimizga qo'shiling
					 </h1> 
				<p>
					Boshqalarga esa 
					<br>
					maslahatingizni ayamang
				</p> 
				<!-- <div class="lagativ">
					<img src="google.jpg" alt="google"
					>
					<img src="Apple.jpg" alt="apple">
				</div> -->
		</article>
		<!--end selection -->

		<article>	
				<div class="text">
				<h1>
					Saytimiz qandey ishlaydi
				</h1>	

				</div>
	 			<div class="row align">
					<div class="blocks border-blue">
						<img src="phone.jpg" alt="phone">
						<h3>
							ruyhatdan uting
						</h3>
						<p>
							siz uzingiz uchun qulay 
							<br>
							sharoitni tanlang
						</p>
					</div>
					<div class="img">
						<img src="keyingi.jpg" alt="keyingi.jpg">
						
					</div>
					<div class="blocks border-grey">
						<img src="not.jpg" alt="not.jpg">
						<h3>
							biz bilan birga ishlang
						</h3>
						<p>
							siz o'zingizga kerakli bo'lgan
							<br>
							ma'lumotlarni oling va bular
							<br>
							mutloqo bepul
						</p>
					</div>
					<div class="img">
						<img src="keyingi.jpg" alt="keyingi.jpg">
						
					</div>
					<div class="blocks border-green">
						<img src="group.jpg" alt="group.jpg">
						<h3>
							vaqtingizni va pulingizni tejang
						</h3>
						<p>
							siz sayt haqida fikrlar bering
							<br>
							va bu biz uchun mukim
						</p>
					</div>
					<div class="img">
						<img src="keyingi.jpg" alt="keyingi.jpg">
						
					</div>
				</div>
		</article>
		

	</div>
	<!-- end umumiy div-->
	<article class="fon">
		<div class="oxirgi ">
			<div class="suzla">
			<h1>
				Get it on Play Store and download on
				<br>
				the App Store
					<div class="lagativ">
					<img src="google.jpg" alt="google.jpg">
					<img src="Apple.jpg" alt="Apple.jpg">
				</div>

					
				</div>
				</h1>
		</div>
		</div>	
</article>
<div class="buldi">
	<img src="logo 1.jpg" alt="logo 1.jpg">
	
		
	</div>
	<div class="qator1" >
		<h3>
			office
			<br>
			4 Perez Drive, Lekki
			<br>
			Phase 1, Lagos.
		</h3>
	</div>
	<div class="qator2">
		<h3>
			Contact
			<br>
			hello@irorun.com
			<br>
			+234 809 666 8877
		</h3>
	</div>
	
</div>
 
</body>
</html>